body {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

div#specs {
    width: 75%;
    border-width: 2px;
    border-color:black;
    border-style: solid;
}

div#buttons_and_sliders {
    padding: 5%;
}

.column {
    float: left;
    width: 50%;
  }

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 35%;
    height: 15px;
    background: #d3d3d3;
    outline: black;
    outline-width: 2px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 15px; 
    background: black;
    cursor: pointer;
}

#output_image:hover {
    border: 5px solid black;
}